/* font-family: 'Lato', sans-serif;

font-family: 'Quicksand', sans-serif;

font-family: 'Droid Sans Bold', arial;

font-family: 'Droid Sans', arial; */
/* @media (min-width: ){

}

@media (min-width: ) and (max-width){


} */
* {
  margin: 0;
  padding: 0;
  /*     border: 1px solid red; */
  box-sizing: border-box;
}
.header {
  width: 100%;
  /* ширина шапки */
  background: url(../img/header-bg-new.png) center center;
  /*     background-color: black;  */
  background-repeat: no-repeat;
  /* фон не повторяется */
}
@media (min-width: 960px) {
  .header {
    background-size: 100% 916px;
    min-height: 916px;
    /* минимальная высота шапки */
  }
}
.header .headerInside {
  /* background: red; */
  width: 100%;
  /* ширина контента в шапке */
  min-height: inherit;
  /* высота контента в шапке */
  margin: 0 auto;
  /* выравнивание по центру страницы */
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  .header .headerInside {
    width: 960px;
    padding: 22px 0px 0 22px;
  }
}
.header .headerInside .navBarWrapper {
  display: flex;
  /* располагаем блоки по горизонтали с помощью flex */
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
  align-content: center;
}
@media (min-width: 960px) {
  .header .headerInside .navBarWrapper {
    flex-direction: row;
    margin-bottom: 123px;
  }
}
.header .headerInside .navBarWrapper .logo {
  text-align: center;
}
@media (min-width: 960px) {
  .header .headerInside .navBarWrapper .logo {
    text-align: start;
  }
}
.header .headerInside .navBarWrapper .logo img {
  transition-duration: 1s;
}
.header .headerInside .navBarWrapper .logo img:hover {
  border-radius: 50px;
  transition-duration: 1s;
  box-shadow: 2px 6px 10px -5px black;
}
.header .headerInside .navBarWrapper .menu {
  padding: 50px 0 0 0;
}
@media (min-width: 960px) {
  .header .headerInside .navBarWrapper .menu {
    margin-left: auto;
    /* прижимаем правый блок к правому краю */
    padding: 25px 0 0 0;
  }
}
.header .headerInside .navBarWrapper .menu .topMenu {
  list-style: none;
  /* убираем маркеры списка */
  display: none;
}
@media (min-width: 664px) {
  .header .headerInside .navBarWrapper .menu .topMenu {
    justify-content: center;
    /* отцентруем блоки */
    display: block;
    display: flex;
    /* располагаем блоки(элементы LI списка) по горизонтали с помощью flex */
  }
}
.header .headerInside .navBarWrapper .menu .topMenu li {
  position: relative;
  /* позиционируем списки RELATIVE, чтобы потом подменю задать ABSOLUTE */
}
.header .headerInside .navBarWrapper .menu .topMenu li a {
  display: block;
  /* делаем ссылки блочными элементавми */
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  /* убираем подчеркивание у ссылок */
  margin-right: 30px;
  /* расстояние справа между ссылками(блоками) */
}
.header .headerInside .navBarWrapper .menu .topMenu li a:hover {
  color: #000;
}
.header .headerInside .navBarWrapper .menu .topMenu li a i {
  padding: 0 0 0 15px;
}
.header .headerInside .navBarWrapper .menu .topMenu li .subMenu {
  list-style: none;
  /* убираем маркеры списка */
  position: absolute;
  /* позиционируем списки абсолютно, относительно тега LI, который выше описани и позиционируется, как RELATIVE */
  min-width: 150px;
  /* задаем ширинку строки в списке */
}
.header .headerInside .navBarWrapper .menu .topMenu li .subMenu li a {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  color: #ffffff;
}
.header .headerInside .navBarWrapper .menu .topMenu li .subMenu li a:hover {
  color: #000;
}
.header .headerInside .navBarWrapper .menu .menuForPhone {
  display: block;
}
@media (min-width: 522px) {
  .header .headerInside .navBarWrapper .menu .menuForPhone {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 663px) {
  .header .headerInside .navBarWrapper .menu .menuForPhone {
    display: none;
  }
}
.header .headerText {
  width: 100%;
}
@media (min-width: 960px) {
  .header .headerText {
    width: 396px;
  }
}
.header .headerText .title {
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  font-weight: 300;
  line-height: 62px;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 960px) {
  .header .headerText .title {
    text-align: start;
  }
}
.header .headerText .titleDesc {
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}
@media (min-width: 960px) {
  .header .headerText .titleDesc {
    text-align: start;
  }
}
/* _____________________________________________________________________
ФРАГМЕНТ, ЧТОБЫ СКРЫВАТЬ ПОДМЕНЮ И ЧТОБЫ ПРИ НАВЕДЕНИИ ОНО ПОЯВЛЯЛОСЬ */
.subMenu {
  display: none;
}
.topMenu li:hover .subMenu {
  display: block;
}
/* __________________________________________________________________ */
.container {
  width: 100%;
  /*     background-color: green; */
}
@media (min-width: 960px) {
  .container {
    min-height: 467px;
  }
}
.container .content {
  width: 100%;
  min-height: inherit;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 960px) {
  .container .content {
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
    /* выравнивание по центру страницы */
  }
}
.container .content .leftContent {
  position: relative;
  width: 266px;
  margin-top: 72px;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .container .content .leftContent {
    margin-bottom: 0;
  }
}
.container .content .leftContent .leftText {
  color: #fe992a;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 89px;
}
.container .content .leftContent .leftText::before {
  content: '\201c';
  font-family: 'Lato', sans-serif;
  color: #fe992a;
  font-size: 48px;
  font-style: italic;
  line-height: 28px;
  position: absolute;
  top: -19px;
  left: -5px;
}
.container .content .leftContent .leftText::after {
  content: '\201e';
  font-family: 'Lato', sans-serif;
  color: #fe992a;
  font-size: 48px;
  font-style: italic;
  line-height: 28px;
  position: absolute;
  top: 147px;
  left: 70px;
}
.container .content .leftContent .btnBlcok {
  display: flex;
  margin-left: 186px;
}
.container .content .leftContent .btnBlcok a {
  width: 30px;
  height: 30px;
  background-color: #fe992a;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 30px;
}
.container .content .leftContent .btnBlcok a:first-child {
  margin-right: 1px;
}
.container .content .leftContent .btnBlcok a:hover {
  background-color: #ffba6e;
}
.container .content .rightContent {
  border-left: 1px solid #eaeaea;
  width: 100%;
  padding-left: 10px;
}
@media (min-width: 960px) {
  .container .content .rightContent {
    flex-direction: row;
    width: 649px;
    margin-top: 72px;
    padding-left: 59px;
    height: 297px;
  }
}
.container .content .rightContent .rightTitle {
  color: #fe992a;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 27px;
}
.container .content .rightContent .rightText {
  color: #737c85;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  display: none;
}
@media (min-width: 960px) {
  .container .content .rightContent .rightText {
    display: block;
  }
}
.container .content .rightContent .forPhone {
  display: block;
  text-align: justify;
}
@media (min-width: 960px) {
  .container .content .rightContent .forPhone {
    display: none;
  }
}
.footer {
  width: 100%;
  background: #e6716f;
}
@media (min-width: 960px) {
  .footer {
    min-height: 474px;
  }
}
.footer .footerInside {
  width: 100%;
  min-height: inherit;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  .footer .footerInside {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer .footerInside .mainWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .footer .footerInside .mainWrapper {
    width: 960px;
  }
}
.footer .footerInside .mainWrapper ul {
  list-style: none;
  font-size: 12px;
  font-family: 'Droid Sans', arial;
  line-height: 24px;
  color: #ffffff;
}
@media (min-width: 960px) {
  .footer .footerInside .mainWrapper ul:first-child {
    margin-right: 129px;
  }
}
.footer .footerInside .mainWrapper .contacts {
  width: 100%;
}
@media (min-width: 370px) and (max-width: 960px) {
  .footer .footerInside .mainWrapper .contacts {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .footer .footerInside .mainWrapper .contacts {
    width: auto;
  }
}
.footer .footerInside .mainWrapper .contacts .telephone {
  margin-bottom: 23px;
}
.footer .footerInside .mainWrapper .firstWordFooter {
  font-weight: 700;
  font-family: 'Droid Sans Bold', arial;
}
.footer .footerInside .mainWrapper .forBig {
  display: none;
}
@media (min-width: 960px) {
  .footer .footerInside .mainWrapper .forBig {
    display: block;
  }
}
